table
{
    width: 80vmin;
    height: 50px;
    border: 2px solid black;
}
.name
{
    width: 40vmin;
    height: 50px;
    border: 2px solid green;
    vertical-align: middle;
}
.price
{
    width: 40vmin;
    height: 50px;
    border: 2px solid green;
    vertical-align: middle;
}
